@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global - General */
html {
  scroll-behavior: smooth;
}

#goTop {
  opacity: 0.5;
  transition: opacity 0.5s;
}

#goTop:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

#login-oauth {
  text-align: center;
  max-width: 330px;
}

#login-oauth .g-signin2 {
  width: 120px;
  margin: 0 auto;
}

nav {
  box-shadow: 0 0 8px #0000004a;
  z-index: 100 !important;
}

nav, nav * {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.transparent {
  background: transparent !important;
  box-shadow: none !important;
}

nav.transparent .navbar-brand {
  font-weight: 700 !important;
}

nav li a {
  font-weight: 600;
  font-size: 0.9rem;
}

.navbar-light .navbar-nav .active > .nav-link {
  border-bottom: 0.2em solid silver;
}

#userMenu img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: -1px;
}

#userMenu i.fas {
  position: absolute;
  top: 0.8rem;
  margin-left: 0.35rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #e3ddd1;
}

nav .dropdown-menu,
.profile-settings .dropdown-menu {
  box-shadow: 0 0 16px #0000001a;
}

.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
}

.login-msg {
  position: relative !important;
  top: 3rem !important;
  text-align: center;
  width: auto !important;
}

/* Home */
#header.home::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 770px;
  top: -12.5rem;
  left: 0;
  background-image: url(../img/home/header-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  z-index: -999;
}

#header {
  padding-bottom: 0px !important;
  --illu-offset: -5rem;
}

#header div {
  position: relative;
  z-index: 1;
}

@media (min-width: 1000px) {
  #header.home > div::before {
    position: absolute;
    content: '';
    display: block;
    float: right;
    top: var(--illu-offset);
    right: -80px;
    width: 450px;
    height: 400px;
    background-image: url('../img/home/top-illustration.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#header h3 {
  font-weight: 700;
}

#header h3::after {
  position: relative;
  display: inline-block;
  content: '';
  width: 100%;
  height: 10px;
  background-color: #ffdc9a;
  left: 0;
  bottom: 17px;
  z-index: -1;
}

#header p {
	color: #515151;
	font-size: 0.85rem;
}

@media (min-width: 1000px) and (max-width: 1200px){
  #header.home p {
    max-width: 30rem;
  }
}

#header .logo-jap {
  display: block;
  width: 298px;
  height: 62px;
  background-image: url('../img/ceibal-jap.png');
  background-repeat: no-repeat;
}

@media (min-width: 490px) {
  #header .logo-jap {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
}

/* Pages */
main:not(.home) {
  --bg-offset: -25rem;
}

main:not(.home)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 770px;
  top: var(--bg-offset);
  left: 0;
  background-image: url(../img/home/header-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -999;
}

#header:not(.home) {
  padding-top: 3rem;
  padding-bottom: 1rem !important;
  margin-bottom: 1rem !important;
  cursor: default;
}

#header:not(.home) p,
#header:not(.home) h3 {
  margin: 0 auto;
}

#header:not(.home) p {
  font-size: 1rem;
}

#header .information {
  text-align: center;
}

#header .information .inline-input,
#header .information .inline-input::-webkit-inner-spin-button,
#header .information .inline-input::-webkit-outer-spin-button,
#header .information .inline-filter {
  background: transparent;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  outline: none;
  border: none;
  margin: 0;
}

#header .information .inline-input {
  font-weight: 700;
  width: 3.2rem;
  text-align: center !important;
  border-bottom: 0.15rem solid silver;
}

#header .information .inline-filter {
  font-weight: 700;
  transition: all .2s ease-out;
}

#header .information .inline-filter:hover {
  color: #b49786;
}

#header .information #rangeFilter,
#header .information #rangeFilterCount {
  border: 0.1rem solid transparent;
  border-radius: 0.25rem;
  transition: all .2s ease-out;
}

#header .information #rangeFilter:hover,
#header .information #rangeFilterCount:hover {
  border-color: #79363657 !important;
}

#header .information #clearFilter {
  margin-left: -0.5rem !important;
}

#header:not(.home) h3::after {
  background-color: #ffdc9ae7;
}

#header:not(.home) p.alert-warning {
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #c0c0c03d;
}

.sell-section {
  background: #fff;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.5rem 0.5rem #c0c0c047;
}

/* Home - categories */
.cat-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(353deg, rgba(255,255,255,0) 0%, rgba(243,243,243,1) 53%, rgba(239,239,239,1) 100%);
  opacity: 0.6;
  z-index: 99;
}

.category-card {
  position: relative;
  box-shadow: 3px 6px 6px #c0c0c069;
  border-radius: 4px;
  border: 1px solid #b3b3b38c;
  height: 290px;
  max-width: 550px;
  overflow: hidden;
  margin: 0 auto;
}

.category-card .cat-img-container {
  width: 555px;
  transform: translate3d(0px, 0px, 0px);
}

.category-card img {
  width: 555px;
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.category-card:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  filter: saturate(200%);
}

.category-card .cat-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 30px;
  z-index: 999;
}

.category-card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.category-card p {
  color: #777;
  font-size: 16px;
  font-weight: 500;
  transition: all .4s ease-out 0s;
}

.category-card a {
  position: absolute;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.category-card a:hover {
  text-decoration: none;
}

.category-card span {
  position: absolute;
  bottom: 0.3rem;
  margin: 1rem 2rem;
  padding: 5px 10px;
  font-size: 0.8rem;
  box-shadow: 0 0 0.3rem #0000003a;
  border-radius: 2rem;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.category-card:hover span {
  bottom: 0;
  opacity: 1;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 50px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Floating labels */

.form-label-group {
  position: relative;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Floating labels - Fallback for Edge */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Products & cateogries list */
#cat-list-container,
#products-list-container {
  padding: 2.5rem;
  border-radius: .3rem;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(154,160,185,.05), 0 10px 40px rgba(166,173,201,.1);
}

.list-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  min-width: 0;
  margin-bottom: 1.5rem;
  border-radius: .3rem;
  overflow: hidden;
  border: .15rem solid transparent;
  box-shadow: 0 4px 10px -1px rgba(154,160,185,.1);
  transition: all .2s ease-in-out;
}

.list-card:hover {
  border-color: #cca57863;
}

.list-card .product-img {
  max-width: 100%;
  height: auto;
}

.list-card .info {
  margin: .5rem;
  margin-left: 0rem;
}

.list-card .info .badge {
  font-size: .9rem;
}

.list-card .info p {
  margin-bottom: .2rem;
}

.list-card .info .d-flex {
  flex-wrap: wrap;
}

.list-card .info small {
  font-weight: 700;
  color: #a1a5a8 !important;
}

.list-card .info h4 {
  font-weight: 700;
  height: 2rem;
}

.list-card h4::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 30%;
  height: 0.5rem;
  bottom: 1rem;
  left: 0;
  background-color: transparent;
  z-index: 9;
  transition: all .2s ease-in-out;
}

.list-card:hover h4::after {
  width: 100%;
  background-color: #ffdc9ae7;
}

a.product-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  background-color: #faf08196;
  padding: 1px 1px;
  margin: 0 -1px;
  border-radius: 4px;
  display: inline-block;
}

@media (max-width: 768px) {
  #cat-list-container,
  #products-list-container {
    margin-top: 2rem;
    padding: 0rem;
  }

  .list-card {
    border-radius: 0rem;
  }

  .list-card h4 {
    font-size: 1rem;
  }

  .list-card h4::after {
    bottom: .7rem;
    height: .3rem;
  }

  .list-card small {
    float: left;
    position: absolute;
    top: 1.2rem;
  }

  .list-card .badge {
    font-size: .75rem !important;
  }

  .list-card .list-desc {
    font-size: .8rem;
  }
}

/* Listing filters */
.btn-group.filters {
  box-shadow: .1rem .2rem .5rem #c0c0c07d;
}

.filters .btn {
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.filters .btn-dark {
  background-color: #4f4343;
  border-color: #393131;
}

.filters .btn-dark:not(:disabled):not(.disabled).active,
.filters .btn-dark:not(:disabled):not(.disabled):active,
.filters .show > .btn-dark.dropdown-toggle {
	background-color: #241d1d;
	border-color: #171a1d;
}

#listing-top-options {
  margin-bottom: 1rem;
}

#listing-top-options #searchInput {
  width: 14rem;
  float: left;
}

@media (max-width: 767px) {
  #listing-top-options {
    text-align: center !important;
  }

  #listing-top-options #searchFilter {
    width: 18rem !important;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  #listing-top-options .offset-md-4 {
    text-align: right !important;
  }

  #listing-top-options #clearSort {
    margin-left: -2rem;
  }
}

#searchFilter {
  z-index: 99;
}

#searchInput {
  border: 0px;
  background: transparent;
  border-radius: 0px;
  border-bottom: 0.2rem solid silver;
  padding-right: 1.5rem;
}

#searchInput:active,
#searchInput:focus {
  box-shadow: none !important;
}

#searchInput:not(:placeholder-shown) {
  border-bottom-color: #814949;
}

#clearSearch {
  float: left;
  margin-left: -1.125rem;
  cursor: pointer;
  z-index: 999;
}

/* Product info */
#product-info {
  margin-bottom: 2rem;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

#product-info h3 {
  font-weight: bold;
  color: #202020;
}

#product-info article {
  padding-bottom: 1rem !important;
}

.gallery-wrap .img-small-wrap .item-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.8;
  transition: all 0.5s;
}

#thumbnails .selected {
  opacity: 1;
}

#thumbnails .selected:before {
  content: "";
  background: #007bff;
  display: block;
  width: 100%;
  height: 3px;
}

.gallery-wrap .img-small-wrap {
  text-align: center;
}

#preview-img,
.item-gallery {
  height: 470px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

#preview-img:hover #controls {
  opacity: 1;
}

#preview-img #controls {
  position: relative;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding-top: 210px;
  opacity: 0;
  transition: opacity 0.5s;
}

#controls i {
  position: relative;
  display: block;
  opacity: 0.6;
  transition: all 0.5s;
  float: left;
  width: 42px;
  height: 42px;
  margin: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
}

#controls i:hover {
  opacity: 1;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}

#controls i.fa-chevron-right {
  position: absolute;
  right: 0px;
  padding-left: 13px !important;
}

a.add-cart {
  padding: 0.7rem 1.6rem;
  font-size: 0.7rem;
  font-weight: bold;
}

/* Comments section */
#comments-section {
  border-radius: .3rem;
  box-shadow: 0 3px 7px rgba(154,160,185,.05), 0 10px 40px rgba(166,173,201,.1);
}

#comments .avatar {
  width: 3.75rem;
  float: left;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  #comments-section {
    margin: 1rem 3rem;
  }

  #comments .comment-content {
    margin-left: 4.75rem !important;
  }
}

.rounded-circle {
  border-radius: 50% !important;
}
.rating {
  color: #8d8d8d;
  list-style-type: none;
  padding: 0;
}

.rating li,
.side-nav .social li {
  display: inline-block;
}

.blue-text {
  color: #2196f3 !important;
}

#comments .comment-date {
  font-size: 0.9rem;
  color: #9e9e9e !important;
}

#comments .dark-grey-text {
  font-size: 0.9rem;
}

#write-comment {
  margin: 0 auto;
  padding: 1rem;
}

#write-comment h5 {
  margin-bottom: 1rem;
}

#write-comment .alert-light {
  text-align: center;
  margin-bottom: 20px;
}

#write-comment .send-group {
  margin-top: 0.9rem;
  text-align: right;
}

.send-group .btn-group {
  margin-right: 10px;
  margin-top: 5px;
}

#write-comment button {
  padding: 0.7rem 1.6rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.writec-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.writec-textarea:focus {
  box-shadow: 0 0 4px #0000000f;
}

.textarea-alert {
  box-shadow: 0 0 4px #b12f2f81 !important;
}

#rate-required {
  padding: 0px 10px;
  margin-top: 3px;
  margin-right: 0px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: #c85d5d;
  opacity: 0;
  transition: opacity 500ms;
}

#rate-stars {
  display: flex;
}

#rate-stars .fa-star {
  color: #8d8d8d;
  cursor: pointer;
}

#rate-stars input {
  display: none;
}

/* Logout spinner */
#logout-spinner-wrapper {
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: calc(50vh - 220px);
}
.lds-ellipsis-load {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
}
.lds-ellipsis div,
.lds-ellipsis-load div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ccc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1),
.lds-ellipsis-load div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2),
.lds-ellipsis-load div:nth-child(2)  {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3),
.lds-ellipsis-load div:nth-child(3)  {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4),
.lds-ellipsis-load div:nth-child(4)  {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Related products section */
#related-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#related-products > div {
  min-width: 300px;
  max-width: 400px;
  max-height: 100px;
  box-shadow: 0 2px 1px -6px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2);
}

#related-products img {
  float: left;
  max-height: 100px;
  border-radius: 2px 0 0 2px;
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

#related-products .info {
  text-align: right;
  padding-top: 0.4rem;
  padding-right: 0.9rem;
}

#related-products h5 {
  font-weight: 700;
  margin-bottom: 0px !important;
}

#related-products .card {
  overflow: hidden;
}

#related-products .card:not(:hover) .description {
  opacity: 0;
  transition-duration: 0.6s;
}

#related-products .card:hover .description {
  opacity: 1;
  transition: opacity;
  transition-duration: 0.6s;
}

#related-products .card:not(:hover) img {
  opacity: 1;
  transition-duration: 0.6s;
}

#related-products .card:hover img {
  opacity: 0.3;
  transition: opacity;
  transition-duration: 0.6s;
}

#related-products .description {
  position: absolute;
  left: 0;
  float: left;
  height: 100%;
  max-width: 160px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.8rem;
  color: #353535;
}

/* Cart section */
.cart-section {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

#cart table * {
  vertical-align: middle;
}

#cart-list thead th,
#cart-list tbody input,
#cart-list tbody td:last-child,
#cart-list tbody td:nth-child(3),
#cart-list tbody td:nth-child(4),
#cart-list tbody td:nth-child(5) {
  text-align: center;
}

#cart-list thead th {
  color: #727272;
}

#cart-list tfoot th:first-child {
  text-align: right;
}

#cart-list tfoot th:last-child {
  text-align: center;
}

#cart-list tfoot td,
#cart-list tbody td:nth-child(2),
#cart-list tbody td:nth-child(5) {
  font-weight: 700;
}

#cart-list td:last-of-type {
  position: relative;
}
#cart-list td:last-of-type span {
  line-height: 4rem;
  font-size: 1rem;
  cursor: pointer;
  opacity: .5;
  transition: all .3s ease-in-out;
  z-index: 999;
}

#cart-list tr:hover td:last-of-type span {
  opacity: 1;
}

#cart-list tr td:last-of-type span i {
  width: 24px;
  height: 24px;
}

#cart-list img {
  height: 3rem;
  width: 3.75rem;
}

#cart-list input {
  width: 2rem;
}

#cart-list input,
#cart-list input::-webkit-inner-spin-button,
#cart-list input::-webkit-outer-spin-button {
  background: #f3f3f3;
  border-radius: .2rem;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  outline: none;
  border: none;
  margin: 0;
}

#cart-list button {
  background: transparent;
  appearance: none;
  border: none;
  padding: .2rem !important;
  color: #525252;
}

#cart-list i.fa-times {
  transition: all .2s ease-in-out;
}

#cart-list i.fa-times:hover {
  color: #a83a3a !important;
}

#cart-list tbody tr {
  transition: all .2s ease-in-out;
}

#cart-list tr td {
  transition: all .2s ease-in-out;
}

#cart-list tr td img {
  mix-blend-mode: multiply;
}

#cart-list tbody:hover tr {
  opacity: 0.7;
}

#cart-list tbody tr:hover {
  opacity: 1;
  background: #fafafa8a;
  box-shadow: 0 4px 10px -1px rgba(154,160,185,.1);
}

#cart-list tbody tr:hover + tr td {
  border-top-color: transparent !important;
}

#checkout-section {
  transition: all .2s ease-in-out;
}

#checkout-section:hover {
  box-shadow: 0 3px 7px rgba(154,160,185,.05), 0 10px 40px rgba(166,173,201,.1);
}

#shipping p:last-child {
  color: #555555;
  line-height: 1rem;
}

#coupons h6 span {
  font-size: 0.8rem;
  color: #7a7a7a;
}

#coupons input:not(:placeholder-shown) {
  text-transform: uppercase;
  font-weight: 700;
}

#checkout .prices-list > div {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 0.9rem;
}

#checkout .prices-list > div:last-child {
  font-weight: 700;
  font-size: 1rem;
}

#checkout #payment-method {
  padding: 0rem .75rem;
}

#cart .custom-control-label {
  font-family: 'Roboto', sans-serif;
  padding-top: .150rem !important;
  border-bottom: .2rem solid transparent;
  transition: all .2s ease-in-out;
}

#cart .custom-control-label:hover {
  cursor: pointer;
  border-bottom-color: #ffdc9a;
}

#cart .custom-radio .custom-control-label::before {
  border-radius: 50%;
}

#cart .custom-control-input.is-valid ~ .custom-control-label, .was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #262626; /* #212529 */
}

#cart .custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .custom-control-input:valid ~ .custom-control-label::before {
  border-color: #adb5bd;
}

#cart .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
	border-color: #ffdc9ae7;/* #007bff;*/
	background-color: #d4b06b; /*#007bff;*/
}

#cart .custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated .custom-control-input:valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 .21rem rgba(185, 136, 73, 0.59); /*0 0 0 .2rem rgba(40, 125, 167, 0.25);*/
}

#cart .price,
#cart .productCount {
  font-family: 'Roboto', sans-serif;
}

.checkout {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 0.55rem 1.6rem;
}

.checkout i {
  margin-left: .5rem;
}

#shipping-info {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 700;
  color: #686868;
}

#edit-address,
#cancel-edit-address {
  position: relative;
  float: right;
  top: .2rem;
  cursor: pointer;
  color: #535353;
  font-size: .8rem;
  opacity: 0.6;
  transition: all .2s ease-in-out;
}

#edit-address:hover,
#cancel-edit-address:hover {
  opacity: 1;
}

#address-country option {
  font-family: 'Roboto', sans-serif;
}

.empty-cart {
  text-align: center;
}

.empty-cart a {
  text-decoration: none;
  color: #998469;
}

/* Payment process - animación de https://tobiasahlin.com/spinkit/ */
.processing-payment {
  margin: 8rem auto;
}

.processing-payment p {
  margin-top: 2rem;
  color: #424242;
}

.sk-folding-cube {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffdc9a;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* Cart - Checkout - Receipt */
.receipt .alert-success {
  padding: .5rem 1rem;
  border-radius: .3rem;
}

.receipt table tr:first-of-type {
  border-top: 2px dashed #ececec;
}

.receipt td:not(:first-of-type) {
  vertical-align: middle;
}

.receipt hr {
  border-top: 2px dashed #ececec;
}

.receipt .receipt-details {
  text-align: center;
  color: #979797;
  font-size: .9rem;
}

.receipt .products-summary th:nth-of-type(2),
.receipt .products-summary td:nth-of-type(2) {
  text-align: center;
}

.receipt .products-summary th:last-of-type,
.receipt .products-summary td:last-of-type,
.receipt .costs-summary th:last-of-type,
.receipt .costs-summary td:last-of-type {
  text-align: right;
}

.modal-content {
  border-color: #ececec;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2) !important;
}
.modal {
  background: rgba(255, 255, 255, 0.623) !important;
}

/* Floating labels fix: cart -> datos de envío */
.form-label-group.col label,
.form-label-group.col-8 label {
  padding-left: 1.7rem;
}

/* Profile */
.myprofile {
  max-width: 800px;
  padding: 3rem 0;
  margin-bottom: 2rem;
}

.profile-settings {
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.profile-settings .card-header {
  padding-top: 1.5rem;
}

.profile-settings h3 {
  font-weight: 700;
}

.profile-settings .dropdown-item,
.profile-settings .dropdown-item label {
  cursor: pointer;
}

.profile-settings .dropdown-item.disabled, .dropdown-item:disabled {
  color: #a3aab0;
  pointer-events: none;
}

.profile-settings hr {
  margin-bottom: 2rem !important;
}

.profile-settings input[type="number"],
.profile-settings input[type="number"]::-webkit-inner-spin-button,
.profile-settings input[type="number"]::-webkit-outer-spin-button {
  background: transparent;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
}

#alert-profile {
  display: none;
  text-align: center;
  font-weight: 700;
  font-size: .8rem;
  color: #fff;
  padding: .2rem 1rem;
  margin: 0 auto;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
  border-radius: .2rem;
  box-shadow: 0 2px 6px -1px #9b9494;
}

#alert-profile.saved,
#alert-profile.error {
  display: table;
}

#alert-profile.saved {
  background: #7fbb7f;
}

#alert-profile.error {
  background: #f76b6b;
}

.profile-picture {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: .1rem solid #f0f0f0;
  background-image: url('../img/user.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 4px #e5e5e5;
  overflow: hidden;
}

.profile-picture:active {
  outline: none !important;
  outline-offset: 0 !important;
}

.profile-picture:hover .picture-change-overlay,
.profile-settings .pp-btn.show .picture-change-overlay {
  opacity: 1;
}

.picture-change-overlay {
  opacity: 0;
  display: block;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1.215rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.397);
  transition: all .2s ease-in-out;
}

.profile-save {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 0.55rem 1.6rem;
}
